/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common-design */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* design-headder-section */
header{
    background-color: #2D25A0;
    width: 100%;
}
/* navigation menu styling */
.nav-menu a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding-right: 20px;
    transition: 0.5s;
}
/* navigation menu animating */
.nav-menu a:hover{
    color: #E02C6D;
}
/* align title and banner and nav */
.banner-sec , nav{
    display: flex;
    justify-content: space-between;
    margin: 0 156px;
    padding: 42px 0;
}
/* style headline */
.headline h1{
    color: #ffffff;
    font-size: 64px;
    line-height: 80px;
}
/* styleing button anchor */
.button{
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 24px;
    background-color: #E02C6D;
    border-radius: 5px;
    transition: 0.5s;
}
/* animate button */
.button:hover{
    border: 1px solid #E02C6D;
    border-radius: 5px;
    color: black;
    background-color: white;
}
/* banner image transition */
.banner img{
    transition: 1s;
}
/* make transform for banner image and player image */
.banner img:hover ,.player img:hover{
    transform: scale(1.05);
}
    /* -----------------------------------
        start players section styling
    -------------------------------------- */
  /* style grid for Players-detail in 3 colomn */
  .Players-detail{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    margin: 43px 110px;
}
 /* player-box-sizing */
 .player{
     display: flex;
     flex-direction: column;
     width: 330px;
     box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
     margin-top: 27px;
     padding: 15px;
     border-radius: 5px;
 }
 .player img{
     transition: 0.5s;
 }
  /* style player name */
 .player h2{
     color: #18191F;
     font-size: 28px;
     margin-top: 16px;
 }
  /* style player details */
  .details {
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
    margin-top: 10px;
  }
    /* --------------------------------
        End styling players section
    ----------------------------------- */
        /* --------------------------------
        Start styling highlight section
    ----------------------------------- */
    .highlight-sec{
        display: flex;
        margin: 165px 156px 158px 182px;
    }
    .h-img{
        margin-left: 66px;
    }
    .h-details{
        margin-top: 60px;
    }
    .h-details h1{
        color: #0A0826;
        font-size: 40px;
        margin: 0;
    }
    /* --------------------------------
        End styling highlight section
    ----------------------------------- */
    .sponser-sec{
        background-color: #10437a;
        display: flex;
        height: 250px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
    .spons{
        border-right: 1px solid rgba(53, 46, 46, 0.918);
        padding-right: 50px;
    }
    .sponse{
        margin-right: 40px;
    }
    .office-partner{
        margin-left: 10%;
    }
    .sponser-headline{
        color: #ffffff;
        font-size: 2em;
        margin-bottom: 40px;
    }
    /* ------------------------
        End-sponser section 
       ------------------------*/
    /*---------------------
       start lotary sec 
       --------------------*/
       /* syle lotart headdline */
    .new-title h1{
        text-align: center;
        color: #0A0826;
        font-size: 2em;
        margin-top: 70px;
        margin-bottom: 0;
    }
    .lotary-sec{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #E02C6D;
        height: 250px;
        margin-bottom: 50px;
        border-radius: 10px;
    }
    .lotary{
        color: #ffffff;
        font-size: 2em;
    }
    .input{
        margin: 10px;
        padding: 10px 40px;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.89);
        border: 2px solid #E02C6D;
    }
    button{
        padding: 10px 40px;
        border-radius: 20px;
        color: white;
        background-color: transparent;
        border: 2px solid white;
        cursor: pointer;
        transition: 0.5s;
    }
    button:hover{
        background-color: #10437a;
    }
    /*-----------------------------
     end styling lotary section
    ------------------------------ */
    /* ----------------------
        Start styling footer
       ---------------------- */
       /* style main footer section */
    .f-menu{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    /* style font awesome social icon */
    .fab{
        padding: 7px;
        font-size: 20px;
        background: rgba(128, 128, 128, 0.534);
        border-radius: 50%;
    }
    /* -----------------------
        Start styling footer
       ----------------------- */


       /*------------------------------
          Start Media query  section
       ------------------------------ */

       /* for mobile device */
       @media only screen and (max-width:688px){
           body{
               width: 100%;
           }
           .headline{
               padding: 20px;
           }
           .banner{
               padding: 20px;
           }
            nav{
            display: none;
            }
            .Players-detail{
                grid-template-columns: repeat(1, 1fr);
                justify-content: center;
                grid-column-gap: 0;
            }
            .highlight-sec{
                flex-direction: column;
                margin: 15px;
            }
            .h-img{
                margin-left: 0; 
            }
            .h-img img{
                width: 100%;
                margin-top: 50px;
                padding-left: 0;
            }
            .banner-sec {
                display: flex;
                flex-direction: column;
                justify-content: start;
                margin: 0;
                padding: 0;
                width: 100%;
            }
            .banner img{
                width: 100%;
                margin-top: 30px;
            }
            .lotary-sec{
                width: 100%;
                height: 500px;
                margin: 0px;
                margin-bottom: 20px;
            }
            .lotary-title{
                padding: 20px;
            }
            .inputs{
                padding: 20px;
            }
            .sponser-sec{
                display: flex;
                flex-direction: column;
                height: 600px;
                width: 100%;
                margin: 0px;
            }
            .spons{
                border-right: 0;
                padding-right: 0;
            }
            .f-img img{
                width: 100%;
            }
            .sponse{
                margin-right: 0px;
            }
            .office-partner {
                margin-left: 0px;
            }
            .prince-partner{
                margin-left: 20px;
            }
            .inputs{
                display: flex;
                flex-direction: column;
            }
            button{
                padding: 5px 5px;
            }
        }

        /* --------------------------------------
            responsive for tablet device 
            -------------------------------------*/
        @media only screen and (min-width: 688px) and (max-width:992px) {
            body{
                width: 100%;
            }
            .headline{
                padding: 20px;
            }
            .banner{
                padding: 20px;
            }
             nav{
             display: none;
             }
             .Players-detail{
                 grid-template-columns: repeat(2, 1fr);
                 justify-content: center;
                 grid-column-gap: 30px;
             }
             .highlight-sec{
                 flex-direction: column;
                 margin: 15px;
             }
             .h-img{
                 margin-left: 0; 
             }
             .h-img img{
                 width: 100%;
                 margin-top: 50px;
                 padding-left: 0;
             }
             .banner-sec {
                 display: flex;
                 flex-direction: column;
                 justify-content: start;
                 margin: 0;
                 padding: 0;
                 width: 100%;
             }
             .banner img{
                 width: 100%;
                 margin-top: 30px;
             }
             .lotary-sec{
                 width: 100%;
                 height: 500px;
                 margin: 0px;
                 margin-bottom: 20px;
             }
             .lotary-title{
                 padding: 20px;
             }
             .inputs{
                 padding: 20px;
             }
             .sponser-sec{
                 display: flex;
                 flex-direction: column;
                 height: 600px;
                 width: 100%;
                 margin: 0px;
             }
             .spons{
                 border-right: 0;
                 padding-right: 0;
             }
             .f-img img{
                 width: 100%;
             }
             .sponse{
                 margin-right: 0px;
             }
             .office-partner {
                 margin-left: 0px;
             }
             .prince-partner{
                 margin-left: 20px;
             }
             .inputs{
                 display: flex;
                 flex-direction: column;
             }
             button{
                 padding: 5px 5px;
             }
         }